@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

/****************************************** 
Estilos generales 
*******************************************/
body {
  @apply bg-background text-foreground
}

*{
  border-color: rgb(var(--foreground-rgb));
  @apply border-foreground;
}
th{
  @apply font-semibold
}
.h1{
  @apply text-2xl md:text-4xl
}

.nav-links .link{
  @apply text-sm
}
.nav-links .link.active{
  @apply underline
}
.header{
  @apply w-full
}
.h-title{
  @apply -tracking-wider
}
.svg-icon path{
  @apply stroke-primary
}

/****************************************** 
seccion aparato
*******************************************/
.aparato .cuadrante{
  @apply border p-1 aspect-square justify-center items-center flex flex-col relative -ml-[1px] -mb-[1px] transition-colors duration-100 hover:bg-foreground hover:text-background
}

/****************************************** 
seccion año
*******************************************/
.ano .cuadrante{
  @apply border p-3 justify-center items-center flex flex-col relative -ml-[1px] -mb-[1px]
}
.table td{
  @apply border
}
.table .day,
.firering .day{
  @apply flex flex-col gap-1 p-1 md:p-2
}
.table .day .day-numbers,
.firering .day .day-numbers{
  @apply flex w-full justify-center md:justify-between flex-col md:flex-row text-center
}
.table .day .id,
.firering .day .id{
  @apply font-bold
}
.table .day .date,
.firering .day .date{
  @apply text-xs text-center
}
.table .day .negative,
.firering .day .negative{
  @apply text-sm
}
.table .th-vuelta{
  @apply text-center text-xs w-12
}
.table .th{
  @apply bg-foreground text-background border text-xs md:text-base 
}
.firering{
  @apply flex flex-wrap;
}
.firering-day{
  @apply border flex-1
}
[class^="vuelta-"]:hover,
.firering-day:hover {
  @apply bg-foreground text-background
}